.active-player {
	color: red
}

td {
	background-color: white;
	border: 1px solid #333333;
	width: 40px;
	height: 40px
}

.unhit-ship-cell {
	background-color: black;
}

.hit-ship-cell{
	background-color: blue;
}
.missed-ship-cell{
	background-color: red;
}