.active-player {
	color: red
}

td {
	background-color: white;
	border: 1px solid #333333;
	width: 20px;
	height: 20px
}

.own-ship-cell {
	background-color: black;
}

.own-ship-hit-cell{
	background-color: #B8B8B8;
}

.hit-shot-cell{
	background-color: blue;
}

.missed-shot-cell{
	background-color: red;
}
